[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromadb = "*"
sentence-transformers = "*"
langchain = "*"
openai = "*"
tiktoken = "*"
openllm = "*"
gpt4all = "*"

[dev-packages]

[requires]
python_version = "3.9"
